<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDO</title>
</head>
<body>

    <H1>ToDo List</H1>

    
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="task" placeholder="Task" required>
        <button type="submit">Edit Task</button><br>
        <br>
    </form>

    <div>
        <h2>Last record: </h2>
        {{data.date}}:{{data.title}}-{{data.task}}
       
    </div>    





    
    
</body>
</html>