<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP - Products</title>
</head>
<body>
    <H1>PRODUCTS</H1>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="p_name" placeholder="Enter product Name">
        <input type ="number" name="p_quantity" placeholder="Enter product Quantity">
        <input type ="number" name="p_price" placeholder="Enter product Price">
        <input type ="number" name="p_discount" placeholder="Enter Discount">
        <button type="submit">Add Product</button>
    </form>

    {% for i in items%}
        <div>
            <h2>{{forloop.counter}}: {{ i.p_name }}</h2>
            <p>Quantity: {{ i.p_quantity }} ,Price: {{ i.p_price }}, Discount: {{ i.p_discount }}</p>
        </div>
    
    {% endfor %}

    <br><br>

    <a href="{% url 'customer' %}">
        <button>Show Customers</button>
    </a>

    <a href="{% url 'bill' %}">
        <button>Billing Section</button>

</body>
</html>